In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('2022.csv', sep=',')
df.head()

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
0,1,Finland,"7,821","7,886","7,756","2,518","1,892","1,258","0,775","0,736","0,109","0,534"
1,2,Denmark,"7,636","7,710","7,563","2,226","1,953","1,243","0,777","0,719","0,188","0,532"
2,3,Iceland,"7,557","7,651","7,464","2,320","1,936","1,320","0,803","0,718","0,270","0,191"
3,4,Switzerland,"7,512","7,586","7,437","2,153","2,026","1,226","0,822","0,677","0,147","0,461"
4,5,Netherlands,"7,415","7,471","7,359","2,137","1,945","1,206","0,787","0,651","0,271","0,419"

In [7]:
df.shape

(147, 12)

In [8]:
countries = df['Country'].unique()
countries.sort()
countries

array(['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan*', 'Bahrain', 'Bangladesh',
       'Belarus*', 'Belgium', 'Benin', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana*', 'Brazil', 'Bulgaria',
       'Burkina Faso', 'Cambodia', 'Cameroon', 'Canada', 'Chad*', 'Chile',
       'China', 'Colombia', 'Comoros*', 'Congo', 'Costa Rica', 'Croatia',
       'Cyprus', 'Czechia', 'Denmark', 'Dominican Republic', 'Ecuador',
       'Egypt', 'El Salvador', 'Estonia', 'Eswatini, Kingdom of*',
       'Ethiopia', 'Finland', 'France', 'Gabon', 'Gambia*', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Guatemala*', 'Guinea', 'Honduras',
       'Hong Kong S.A.R. of China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait*', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho*', 'Liberia*', 'Libya*', 'Lithuania', 'Luxembourg*',
       'Madagascar*', 'Malawi', 'Malaysia', 'Mali', 'Malta',
       'Mauritania*', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger*',
       'Nigeria', 'North Cyprus*', 'North Macedonia', 'Norway',
       'Pakistan', 'Palestinian Territories*', 'Panama', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania', 'Russia',
       'Rwanda*', 'Saudi Arabia', 'Senegal', 'Serbia', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea',
       'Spain', 'Sri Lanka', 'Sweden', 'Switzerland',
       'Taiwan Province of China', 'Tajikistan', 'Tanzania', 'Thailand',
       'Togo', 'Tunisia', 'Turkey', 'Turkmenistan*', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Yemen*',
       'Zambia', 'Zimbabwe', 'xx'], dtype=object)

In [4]:
colombia_rank = df['Country'] == 'Colombia'
df.loc[colombia_rank,:]

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
65,66,Colombia,"5,781","5,903","5,659","1,971","1,452","0,929","0,720","0,545","0,087","0,077"

In [6]:
germany_rank = df['Country'] == 'Germany'
df.loc[germany_rank,:]

,RANK,Country,Happiness score,Whisker-high,Whisker-low,Dystopia (1.83) + residual,Explained by: GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption
13,14,Germany,"7,034","7,122","6,947","2,142","1,924","1,088","0,776","0,585","0,163","0,358"